<footer>
  <small>
    Ce projet est maintenu par <a href="https://christopheducamp.com">Christophe Ducamp</a>.
    Regardez le <a href="{{ pkg.repository.url }}">repo Github</a>.
  </small>
</footer>
